<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoiseBarriers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NoiseBarriers.Properties.Settings>
            <setting name="Lift" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="PostIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ElementIdAxis" serializeAs="String">
                <value />
            </setting>
            <setting name="ElementIdBound1" serializeAs="String">
                <value />
            </setting>
            <setting name="ElementIdBound2" serializeAs="String">
                <value />
            </setting>
            <setting name="PostStep" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IsIncludeStartPost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsIncludeFinishPost" serializeAs="String">
                <value>True</value>
            </setting>
        </NoiseBarriers.Properties.Settings>
    </userSettings>
</configuration>